<div class="container">
  <div class="span3 text-left">
    <% if session[:usuario]=='admin' %>
        <br>
        <br>
        <h1>Opciones</h1>
        <br>

        <br>
        <%= link_to 'Inscribir Médico <i class="icon-white icon-user"></i>'.html_safe, '/page/admin_insDoc', :method => :post, :class=> 'btn btn-success span2', :title=>'Agregar un médico al sistema'%>
        &nbsp<br>
        &nbsp
        <br>
        <%= link_to 'Cambiar contraseña <i class="icon-white icon-off"></i>'.html_safe, '/page/admin_changePW', :method => :post, :class=> 'btn btn-danger span2', :title=>'Cambiar contraseña'%>
        &nbsp<br>
        &nbsp
        <br>
        <div class="span6 text-left">
          <h3>Estadísticas actuales</h3>
          <table class="table table-hover">
            <tr>
              <td><h5>Día con más citas:</h5></td>
              <td class="text-center"><h6><%= @est3 %></h6></td>
            </tr>
          </table>
        </div>
    <% else %>
        <div class="span11 text-center">
          <h1>Acceso denegado: usted no es administrador :(</h1>
          <h5>Si considera que lo es, verifique su contraseña e intente de nuevo.</h5>
          <br>
        </div>
    <% end %>
    </div>

</div>
