<div class="container text-center">
  <% if @cambio then%>
      <h1>¡Su contraseña fue cambiada con éxito!</h1>
      <meta http-equiv="refresh" content="2;url=http://127.0.0.1:3000/">
  <% else %>
      <h1>No se pudo cambiar su contraseña, intente nuevamente.</h1>
  <% end %>
</div>