<div class="container text-center">
  <% if @creo then%>
      <h1>¡El médico fue registrado con éxito!</h1>
      <meta http-equiv="refresh" content="2;url=http://127.0.0.1:3000/">
  <% else %>
      <h1>No se pudo registrar el médico, intente nuevamente.</h1>
  <% end %>
</div>