<div class="container text-center">
	<h1>Gracias por usar nuestros servicios</h1>
	<h6>Usted será redirigido a la página principal.</h6>
	<br>

	<meta http-equiv="refresh" content="4;url=http://127.0.0.1:3000/">
</div>