<div class="container text-center">
	<% if @reservada then%>
  	  <h1>Cita reservada</h1>
  	  <meta http-equiv="refresh" content="2;url=http://127.0.0.1:3000/">
	<% else %>
      <h1>Cita NO reservada</h1>
	<% end %>
</div>