<div class="container text-center">
	<% if @cancelada then%>
		<h1>Se canceló la cita</h1>
		<meta http-equiv="refresh" content="2;url=http://127.0.0.1:3000/">
	<% else %>
		<h1>La cita no se pudo cancelar. Intente nuevamente.</h1>
	<% end %>
</div>